/*
*** COMMON (for all pages) ***
*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
  color: #000;
}

/* TODO font & html link */
/* TODO redundant pics */
p {
  font-family: "Give You Glory", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

header {
  box-shadow: 0 0 8px 0 rgb(143 155 179 / 80%);
  background: #fff;
}
header .logo {
  width: 36px;
  margin-right: 16px;
  transition: transform 0.6s;
}
header .logo-brand:hover .logo {
  transform: rotate3d(0, 1, 0, 180deg);
}
header .brand {
  font-family: "Beth Ellen", cursive;
  font-size: 28px;
}
header .slogan {
  font-family: "Give You Glory", cursive;
  font-size: 18px;
  position: relative;
  top: 4px;
}
header .links a {
  font-size: 14px;
  margin-left: 32px;
  position: relative;
}
header .links a.active {
  color: #ffd0c7;
}
header .links a:before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background: #ffd0c7;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: width 0.6s;
}
header .links a.active::before,
header .links a:hover::before {
  width: 100%;
}

footer {
  min-height: 96px;
  max-height: 96px;
  background: #ffd0c7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
*** DONG ***
*/
#contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact .address {
  padding: 40px 16px;
  margin: 0;
  background: #f1e7e7;
}

/*
*** CAROLINA ***
*/
#home .prettyPie,
#vegan .prettyPie {
  display: flex;
  align-items: center;
}
#home .pie,
#vegan .pie {
  margin: 30px auto;
  width: 50%;
  height: auto;
  display: flex;
}

#home .fp1,
#home .fp2,
#home .fp3,
#home .fp4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: auto 12%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

/*
*** LICIA ***
*/
