/*
*** COMMON (for all pages) ***
*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}

/* TODO font & html link */
h1 {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Give You Glory", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  box-shadow: 0 0 8px 0 rgb(143 155 179 / 80%);
  position: sticky;
  top: 0;
  z-index: 999;
  background: #ffd0c7;
}
header a {
  font-size: 14px;
  margin: 0 24px;
  color: #fff;
}
header a.active {
  color: #000;
}
header > a {
  display: block;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000;
}
header > a img {
  width: 40px;
  margin-right: 16px;
}

footer {
  min-height: 96px;
  max-height: 96px;
  background: #e69db8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
*** DONG ***
*/
#contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact .address {
  padding: 40px 16px;
  margin: 0;
  background: #f1e7e7;
}

/*
*** CAROLINA ***
*/
#home .prettyPie,
#vegan .prettyPie {
  display: flex;
  align-items: center;
}
#home .pie,
#vegan .pie {
  margin: 30px auto;
  width: 50%;
  height: auto;
  display: flex;
}

#home .fp1,
#home .fp2,
#home .fp3,
#home .fp4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: auto 12%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

/*
*** LICIA ***
*/
