/*
*** COMMON (for all pages) ***
*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  box-shadow: 0 0 8px 0 rgb(143 155 179 / 80%);
  position: sticky;
  top: 0;
  z-index: 999;
  background: #e69db8;
}
header a {
  font-size: 14px;
  margin: 0 24px;
  color: #fff;
}
header a.active {
  color: #000;
}
header > a {
  display: block;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000;
}
header > a img {
  width: 40px;
  margin-right: 16px;
}

footer {
  min-height: 96px;
  max-height: 96px;
  background: #e69db8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
*** DONG ***
*/
#contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact .address {
  padding: 40px 16px;
  margin: 0;
  background: #f1e7e7;
}

/*
*** CAROLINA ***
*/

/*
*** LICIA ***
*/
